
.center {
    text-align:center;
}

.camel {
	
	text-transform: lowercase;
	text-transform: capitalize;
	
}

table {
    width: 100%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
}

table>thead {
    background-color: rgb(75, 163, 212);
    color: #fff;
}

table>thead th {
    padding: 12px;
    text-align: center;
}

table th,
table td {
    border: 1px solid #00000017;
    padding: 8px 10px;
}


table>tbody>tr>td>img {
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
}

.message {
    font-weight: bold;
    text-align:right;
}

.action_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action_btn>a {
    text-decoration: none;
    color: #444;
    background: #fff;
    border: 1px solid;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.action_btn>a:nth-child(1) {
    border-color: #00000017;
}

.action_btn>a:nth-child(2) {
    border-color: orange;
}

.action_btn>a:hover {
    box-shadow: 0 3px 8px #0003;
}

table>tbody>tr {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

table>tbody>tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
    filter: drop-shadow(0px 2px 6px #0002);
}